# Data Integration & Preprocessing for Time-Series Forecasting

This notebook prepares a unified, clean, and model-ready dataset for deep learning.
It integrates historical **price**, **production**, and **import/export** data for
essential commodities (Rice, Onion, Oil).

### Objectives
- Clean raw data from multiple sources
- Align datasets temporally
- Engineer features suitable for LSTM models
- Output a final multivariate time-series dataset

This notebook focuses on **data quality and consistency**, not modeling.

In [1]:
import os
import random
import numpy as np

# Set random seed for reproducibility
SEED = 42
random.seed(SEED)
np.random.seed(SEED)

# Ensure data directory exists
os.makedirs("./data/", exist_ok=True)
print("✅ Environment ready")

✅ Environment ready

## Rice Data Integration

This section focuses on preparing a clean, unified, and time-aligned dataset
for **rice**, one of the essential commodities considered in this study.

Rice-related data originates from multiple sources, including:
- Historical market prices
- Production statistics
- Import and export records

The goal is to integrate these heterogeneous datasets into a single,
multivariate time-series structure suitable for deep learning models,
particularly LSTM networks.

### 1. Rice Commodity Mapping

In [2]:
rice_map = {
    # FAOSTAT production & trade
    'Rice': 'rice_total',
    'Rice, milled': 'rice_milled',
    'Rice, broken': 'rice_broken',
    'Husked rice': 'rice_husked',
    
    # Bangladesh agri_satat
    'Aus Rice': 'rice_aus',
    'Aman Rice': 'rice_aman',
    'Boro Rice': 'rice_boro',
    
    # WFP retail prices
    'Rice coarse': 'rice_coarse',
    'Rice BRRI-28': 'rice_fine',
    'Rice BRRI-29': 'rice_fine',
    'Rice Gazi': 'rice_medium',
    'Rice Kajla': 'rice_medium',
}

#### A. FAOSTAT Production (`production_data.csv`)

##### Identify Rice Records Across Datasets

This cell filters rice-specific entries from raw datasets using
commodity names or item codes.

Filtering at this stage ensures:
- Irrelevant commodities are removed early
- Subsequent aggregation and merging steps are computationally efficient
- Data consistency across production, trade, and price sources

In [3]:
import pandas as pd

prod_raw = pd.read_csv('data/production_data.csv')

prod_raw.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1972,1972,t,6071.10,I,Value imputed by a receiving agency,NaN
1,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1973,1973,t,6045.63,I,Value imputed by a receiving agency,NaN
2,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1974,1974,t,6432.41,I,Value imputed by a receiving agency,NaN
3,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1975,1975,t,6431.61,I,Value imputed by a receiving agency,NaN
4,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1976,1976,t,6787.60,I,Value imputed by a receiving agency,NaN

In [4]:
prod_raw[['Item', 'Element', 'Unit']].drop_duplicates()

rice_prod_fao = (
    prod_raw
    .query("Item == 'Rice' and Element == 'Production' and Area == 'Bangladesh'")
    [["Year", "Value"]]
    .rename(columns={"Year": "year", "Value": "rice_prod_fao_tons"})
    .sort_values("year")
)
rice_prod_fao.shape
rice_prod_fao.head()

     year  rice_prod_fao_tons
103  1972          15133678.0
104  1973          17862704.0
105  1974          16929568.0
106  1975          19142624.0
107  1976          17628320.0

#### B. FAOSTAT Producer Prices (`producer_prices_data.csv`)

In [5]:
pp_raw = pd.read_csv('data/producer_prices_data.csv')
pp_raw.shape

(421, 16)

In [6]:
pp_raw['Element'].unique()

array(['Producer Price (LCU/tonne)', 'Producer Price (USD/tonne)'],
      dtype=object)

In [7]:
pp_raw.loc[pp_raw["Item"] == "Rice", ["Year", "Element", "Months"]]

     Year                     Element        Months
205  1991  Producer Price (LCU/tonne)  Annual value
206  1992  Producer Price (LCU/tonne)  Annual value
207  1993  Producer Price (LCU/tonne)  Annual value
208  1994  Producer Price (LCU/tonne)  Annual value
209  1995  Producer Price (LCU/tonne)  Annual value
..    ...                         ...           ...
416  2019  Producer Price (USD/tonne)  Annual value
417  2020  Producer Price (USD/tonne)  Annual value
418  2021  Producer Price (USD/tonne)  Annual value
419  2022  Producer Price (USD/tonne)  Annual value
420  2023  Producer Price (USD/tonne)  Annual value

[216 rows x 3 columns]

In [8]:
pp_raw["Months"].unique()

array(['Annual value', 'January', 'February', 'March', 'November',
       'December', 'April', 'July', 'August', 'September', 'October',
       'May', 'June'], dtype=object)

In [9]:
pp_raw[pp_raw["Item"] == "Rice"].shape

(216, 16)

In [10]:
pp_raw["Item"].unique()

array(['Onions and shallots, dry (excluding dehydrated)', 'Rice'],
      dtype=object)

In [11]:
pp_raw.query(
    "Domain == 'Producer Prices' and Area == 'Bangladesh'"
).shape

(421, 16)

In [12]:
pp_raw.query(
    "Domain == 'Producer Prices' and Area == 'Bangladesh' and Item == 'Rice' "
    "and Element == 'Producer Price (USD/tonne)'"
).shape

(33, 16)

In [13]:
pp_raw.query(
    "Domain == 'Producer Prices' and Area == 'Bangladesh' and Item == 'Rice' "
    "and Element == 'Producer Price (USD/tonne)' "
    "and Months == 'Annual value'"
).shape

(33, 16)

In [14]:
for col in ["Domain", "Area", "Item", "Element", "Months"]:
    pp_raw[col] = pp_raw[col].astype(str).str.strip()
rice_pp_annual_lcu = (
    pp_raw
    .query(
        "Domain == 'Producer Prices' and "
        "Area == 'Bangladesh' and "
        "Item == 'Rice' and "
        "Element == 'Producer Price (LCU/tonne)' and "
        "Months == 'Annual value'"
    )
    [["Year", "Value"]]
    .rename(columns={
        "Year": "year",
        "Value": "rice_producer_price_lcu_ton"
    })
)

rice_pp_annual_lcu.shape

(33, 2)

##### Aggregate Rice Production by Year

Rice production values are aggregated at the yearly level.
This aggregation is necessary to align production data with
price and trade datasets, which are also recorded annually.

Annual aggregation improves temporal consistency and
reduces short-term noise in the series.

In [15]:
rice_pp_annual_usd = (
    pp_raw
    .query(
        "Domain == 'Producer Prices' and "
        "Area == 'Bangladesh' and "
        "Item == 'Rice' and "
        "Element == 'Producer Price (USD/tonne)' and "
        "Months == 'Annual value'"
    )
    [["Year", "Value"]]
    .rename(columns={"Year": "year", "Value": "rice_producer_price_usd_ton"})
)

rice_pp_annual = rice_pp_annual_lcu.merge(rice_pp_annual_usd, on="year", how="outer")
rice_pp_annual.head()

   year  rice_producer_price_lcu_ton  rice_producer_price_usd_ton
0  1991                       6330.0                        173.0
1  1992                       6310.0                        162.0
2  1993                       5560.0                        140.5
3  1994                       6160.0                        153.2
4  1995                       7070.0                        175.5

#### C. FAOSTAT Trade (`import-export_data.csv`)
##### Extract Rice Import Data

This cell isolates rice import quantities from international trade data.

Imports reflect **external supply inflow** and are included as an
explanatory variable to help the model capture price fluctuations
caused by changes in trade volume.

In [16]:
tm_raw = pd.read_csv('data/import-export_data.csv')
tm_raw.head()

,Domain Code,Domain,Reporter Country Code (M49),Reporter Countries,Partner Country Code (M49),Partner Countries,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2165,Palm oil,2005,2005,t,870.0,A,Official figure
1,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,1986,1986,t,11793.0,A,Official figure
2,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,1998,1998,t,150811.0,A,Official figure
3,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,2005,2005,t,191050.0,A,Official figure
4,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,2006,2006,t,356171.0,A,Official figure

##### Merge Rice Supply and Trade Variables

These cells merges rice production, import, and export datasets
using **Year** as the common temporal key.

The resulting dataset represents a consolidated view of
rice supply-side dynamics for each year.

In [17]:
rice_import_fao = (
    tm_raw[
        (tm_raw["Domain Code"] == "TM") &
        (tm_raw["Reporter Countries"] == "Bangladesh") &
        (tm_raw["Item"].str.contains("Rice", case=False, na=False)) &
        (tm_raw["Element"] == "Import quantity")
    ][["Year", "Value"]]
    .rename(columns={
        "Year": "year",
        "Value": "rice_import_fao_tons"
    })
    .groupby("year", as_index=False)["rice_import_fao_tons"]
    .sum()
)

rice_import_fao

   year  rice_import_fao_tons
0  1986             146771.85
1  1998            2266472.35
2  2005            1096207.60
3  2006            1531209.95
4  2007            1247887.60
5  2015            2139973.02

#### D. Bangladesh Agri Statistics (`agri_satat_data_bd.xlsx`)

##### From the Full national-level production CSV sheet:

In [18]:
agri = pd.read_excel(
    "data/agri_satat_data_bd.xlsx",
    sheet_name="Full national-level production ",
    header=2
)

agri.head()

,Crop,Type,Year,Area (Acres),Yield (Ton/Acre),Production (Metric Tons)
0,Aus Rice,Local,2021-22,2868,0.39,1118
1,Aus Rice,HYV,2021-22,2730,0.63,1720
2,Aus Rice,Total,2021-22,5598,0.51,2838
3,Aus Rice,Local,2022-23,2859,0.39,1115
4,Aus Rice,HYV,2022-23,2741,0.63,1728

In [19]:
agri = agri.dropna(how="all")
agri.head()

,Crop,Type,Year,Area (Acres),Yield (Ton/Acre),Production (Metric Tons)
0,Aus Rice,Local,2021-22,2868,0.39,1118
1,Aus Rice,HYV,2021-22,2730,0.63,1720
2,Aus Rice,Total,2021-22,5598,0.51,2838
3,Aus Rice,Local,2022-23,2859,0.39,1115
4,Aus Rice,HYV,2022-23,2741,0.63,1728

In [20]:
agri["Production (Metric Tons)"] = pd.to_numeric(
    agri["Production (Metric Tons)"], errors="coerce"
)

agri["Area (Acres)"] = pd.to_numeric(
    agri["Area (Acres)"], errors="coerce"
)

agri["Yield (Ton/Acre)"] = pd.to_numeric(
    agri["Yield (Ton/Acre)"], errors="coerce"
)

In [21]:
mask = agri["Type"] == "Total"

agri.loc[mask, "Production (Metric Tons)"] = (
    agri.loc[mask, "Area (Acres)"] *
    agri.loc[mask, "Yield (Ton/Acre)"]
).round(0)

In [22]:
agri["year_start"] = agri["Year"].str[:4].astype(int)

In [23]:
rice_bdstat_nat = (
    agri[
        agri["Crop"].str.contains("Rice", case=False, na=False) &
        (agri["Type"] != "Total")
    ]
    .groupby("year_start", as_index=False)["Production (Metric Tons)"]
    .sum()
    .rename(columns={
        "year_start": "year",
        "Production (Metric Tons)": "rice_prod_bdstat_tons"
    })
    .sort_values("year")
)
rice_bdstat_nat

   year  rice_prod_bdstat_tons
0  2021                  23847
1  2022                  23858
2  2023                  23904

##### From Trade Overview sheet, rice exports:

In [24]:
trade = pd.read_excel('data/agri_satat_data_bd.xlsx', sheet_name='Trade Overview', header=2)
trade.head()

             Commodity     Year    Type        Quantity Value ('000 Tk)
0  Rice Medium Quality  2021-22  Export  957,851 M. Ton           92389
1  Rice Medium Quality  2022-23  Export               -               -
2  Rice Medium Quality  2023-24  Export   49,650 M. Ton            6509
3   Onion and Shallots  2021-22  Import  755,883,739 Kg        26712780
4   Onion and Shallots  2022-23  Import  883,551,362 Kg        38262655

In [25]:
def fy_to_calendar_year(fy):
    return int(str(fy).split("-")[0])

In [26]:

rice_trade_bdstat = (
    trade
    .query("Commodity == 'Rice Medium Quality' and Type == 'Export'")
    [["Year", "Quantity", "Value ('000 Tk)"]]
    .assign(year=lambda d: d["Year"].apply(fy_to_calendar_year))
    .rename(columns={
        "Quantity": "rice_export_bdstat_kg",
        "Value 000 Tk": "rice_export_bdstat_value_000tk"
    })
)
rice_trade_bdstat

      Year rice_export_bdstat_kg Value ('000 Tk)  year
0  2021-22        957,851 M. Ton           92389  2021
1  2022-23                     -               -  2022
2  2023-24         49,650 M. Ton            6509  2023

In [27]:
rice_trade_bdstat = (
    trade[
        (trade["Commodity"] == "Rice Medium Quality") &
        (trade["Type"] == "Export")
    ][["Year", "Quantity", "Value ('000 Tk)"]]
    # extract fiscal year start
    .assign(year=lambda d: d["Year"].str[:4].astype(int))
)
rice_trade_bdstat

      Year        Quantity Value ('000 Tk)  year
0  2021-22  957,851 M. Ton           92389  2021
1  2022-23               -               -  2022
2  2023-24   49,650 M. Ton            6509  2023

In [28]:
# ---- Clean Quantity  ----
rice_trade_bdstat["Quantity_ton"] = (
    rice_trade_bdstat["Quantity"]
    .str.replace(",", "", regex=False)
    .str.extract(r"([\d\.]+)")
    .astype(float)
    
)
rice_trade_bdstat

      Year        Quantity Value ('000 Tk)  year  Quantity_ton
0  2021-22  957,851 M. Ton           92389  2021      957851.0
1  2022-23               -               -  2022           NaN
2  2023-24   49,650 M. Ton            6509  2023       49650.0

In [29]:
# ---- Clean Value ----
rice_trade_bdstat["rice_import_bdstat_value_000tk"] = pd.to_numeric(
    rice_trade_bdstat["Value ('000 Tk)"], errors="coerce"
)
rice_trade_bdstat

,Year,Quantity,Value ('000 Tk),year,Quantity_ton,rice_import_bdstat_value_000tk
0,2021-22,"957,851 M. Ton",92389,2021,957851.0,92389.0
1,2022-23,-,-,2022,NaN,NaN
2,2023-24,"49,650 M. Ton",6509,2023,49650.0,6509.0

In [30]:
# ---- Final shape ----
rice_trade_bdstat = rice_trade_bdstat[
    ["year", "Quantity_ton", "rice_import_bdstat_value_000tk"]
].sort_values("year")

rice_trade_bdstat

   year  Quantity_ton  rice_import_bdstat_value_000tk
0  2021      957851.0                         92389.0
1  2022           NaN                             NaN
2  2023       49650.0                          6509.0

#### E. WFP Food Price Index (Food-price-index-of-Bangladesh-1998-2024.csv)

In [31]:
wfp_raw = pd.read_csv(
    "data/Food-price-index-of-Bangladesh-1998-2024.csv",
    comment="#",
    parse_dates=["date"]
)
wfp_raw.columns = (
    wfp_raw.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

wfp_raw.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,1998-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1261.40,27.0182
1,1998-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1055.60,22.6101
2,1998-08-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1288.75,27.3620
3,1998-08-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1060.00,22.5053
4,1998-09-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1415.50,30.0531

In [32]:
rice_wfp_annual = (
    wfp_raw
    .query("commodity.str.contains('Rice', case=False)", engine="python")
    .assign(
        year=lambda d: d["date"].dt.year,
        price_bdt_kg=lambda d: d["price"] / 100
    )
    .groupby("year", as_index=False)["price_bdt_kg"]
    .mean()
    .rename(columns={"price_bdt_kg": "rice_retail_price_bdt_kg"})
)

rice_wfp_annual.head()

   year  rice_retail_price_bdt_kg
0  1998                 13.459125
1  1999                 12.744750
2  2000                 11.536409
3  2001                 11.012727
4  2002                 12.628000

### 3. Merge Rice Panel

##### Merge Rice Supply and Trade Variables

These cells merges rice production, import, and export datasets
using **Year** as the common temporal key.

The resulting dataset represents a consolidated view of
rice supply-side dynamics for each year.

In [33]:
all_years = pd.concat([
    rice_prod_fao["year"],
    rice_bdstat_nat["year"],
    rice_import_fao["year"],
    rice_trade_bdstat["year"],
    rice_pp_annual["year"],
    rice_wfp_annual["year"]
]).dropna().astype(int)

dim_time = pd.DataFrame({
    "year": range(all_years.min(), all_years.max() + 1)
})

In [34]:
pd.set_option("display.max_rows", None)
rice_panel = (
    dim_time
    .merge(rice_prod_fao, on='year', how='left')
    .merge(rice_bdstat_nat, on='year', how='left')
    .merge(rice_import_fao, on='year', how='left')
    .merge(rice_trade_bdstat, on='year', how='left')
    .merge(rice_pp_annual, on='year', how='left')
    .merge(rice_wfp_annual, on='year', how='left')
)
rice_panel.head()

,year,rice_prod_fao_tons,rice_prod_bdstat_tons,rice_import_fao_tons,Quantity_ton,rice_import_bdstat_value_000tk,rice_producer_price_lcu_ton,rice_producer_price_usd_ton,rice_retail_price_bdt_kg
0,1972,15133678.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1973,17862704.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1974,16929568.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1975,19142624.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1976,17628320.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
rice_panel.to_clipboard(index=False)

### Final Rice Dataset Preparation

The final rice dataset is cleaned, time-aligned, and structured
for deep learning input.

At this stage:
- All variables are numeric
- Time ordering is preserved
- The dataset is ready for scaling and sequence generation

In [36]:
# Save
rice_panel.to_csv('rice_national_annual_panel.csv', index=False)

print("✅ rice panel with producer prices as primary indicator!")
print(f"Shape: {rice_panel.shape}")
print("\nPreview (last 5 rows):")
print(rice_panel.tail())

✅ rice panel with producer prices as primary indicator!
Shape: (53, 9)

Preview (last 5 rows):
    year  rice_prod_fao_tons  rice_prod_bdstat_tons  rice_import_fao_tons  \
48  2020          54905891.0                    NaN                   NaN
49  2021          56383442.0                23847.0                   NaN
50  2022          57189193.0                23858.0                   NaN
51  2023          58613458.0                23904.0                   NaN
52  2024                 NaN                    NaN                   NaN

    Quantity_ton  rice_import_bdstat_value_000tk  rice_producer_price_lcu_ton  \
48           NaN                             NaN                      18290.0
49      957851.0                         92389.0                      24575.0
50           NaN                             NaN                      25729.3
51       49650.0                          6509.0                      25172.3
52           NaN                             NaN                          NaN

    rice_producer_price_usd_ton  rice_retail_price_bdt_kg
48                        215.5                  3.897220
49                        288.8                  1.780136
50                        280.4                  0.459526
51                        236.8                  0.461691
52                          NaN                  0.501491

##  Oil Integration

### Edible Oil Data Integration

This section focuses on integrating and preprocessing data related to
**edible oil**, an essential commodity with significant price volatility.

Oil data typically spans multiple product categories and trade records.
Therefore, careful aggregation and standardization are required to
construct a reliable time-series dataset suitable for deep learning models.


Oil includes palm oil, soybean oil, mustard oil, and smaller amounts of coconut, groundnut, sesame, linseed oils.

###  1. Define Oil Commodity Mapping

In [37]:
oil_map = {
    # Palm oil
    'Palm oil': 'oil_palm',
    'Palm Oil Crude': 'oil_palm',
    'Oil palm': 'oil_palm',
    
    # Soybean oil
    'Soya bean oil': 'oil_soybean',
    'Soyabean Oil': 'oil_soybean',
    'Oil soybean': 'oil_soybean',
    
    # Mustard oil
    'Mustard Loose Oil': 'oil_mustard',
    'Oil mustard': 'oil_mustard',
    'Rape and Mustard': 'oil_mustard',
    
    # Others
    'Coconut Oil': 'oil_coconut',
    'Groundnut Oil': 'oil_groundnut',
    'Sesame Oil': 'oil_sesame',
    'Linseed Oil': 'oil_linseed',
}

### 2. Extract Oil from Each Source
#### Identify Edible Oil Records Across Datasets

These cells filters oil-related entries from production, trade,
and price datasets using standardized commodity names or item codes.

Early filtering ensures that only relevant oil data is retained,
improving data quality and computational efficiency.

#### A. FAOSTAT Production (`production_data.csv`)
##### Extract Oil Production Data

This step extracts production statistics for edible oil
from the FAOSTAT production dataset.

Production values represent **domestic supply capacity**
and serve as a key explanatory variable for oil price forecasting.

In [38]:
prod_raw = pd.read_csv('data/production_data.csv')

prod_raw.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1972,1972,t,6071.10,I,Value imputed by a receiving agency,NaN
1,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1973,1973,t,6045.63,I,Value imputed by a receiving agency,NaN
2,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1974,1974,t,6432.41,I,Value imputed by a receiving agency,NaN
3,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1975,1975,t,6431.61,I,Value imputed by a receiving agency,NaN
4,QCL,Crops and livestock products,50,Bangladesh,5510,Production,2166.0,Coconut oil,1976,1976,t,6787.60,I,Value imputed by a receiving agency,NaN

In [39]:
prod_raw["Item"].unique()

array(['Coconut oil', 'Onions and shallots, dry (excluding dehydrated)',
       'Rice', 'Soya bean oil'], dtype=object)

In [40]:
oil_prod_fao = (
    prod_raw[
        (prod_raw["Area"] == "Bangladesh") &
        (prod_raw["Element"] == "Production") &
        (prod_raw["Item"].str.contains("Soya bean oil", case=False, na=False))
    ]
    [["Year", "Item", "Value"]]
    .rename(columns={
        "Year": "year",
        "Item": "commodity",
        "Value": "oil_prod_fao_tons"
    })
    .sort_values(["commodity", "year"])
)
oil_prod_fao.shape
# oil_prod_fao.head()

(13, 3)

In [41]:
oil_prod_fao["commodity"].unique()

array(['Soya bean oil'], dtype=object)

#### B. FAOSTAT Producer Prices (`producer_prices_data.csv`)

In [42]:
pp_raw = pd.read_csv('data/producer_prices_data.csv')
pp_raw.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value,Flag,Flag Description
0,PP,Producer Prices,50,Bangladesh,5530,Producer Price (LCU/tonne),1253.02,"Onions and shallots, dry (excluding dehydrated)",1991,1991,7021,Annual value,LCU,13020.0,A,Official figure
1,PP,Producer Prices,50,Bangladesh,5530,Producer Price (LCU/tonne),1253.02,"Onions and shallots, dry (excluding dehydrated)",1992,1992,7021,Annual value,LCU,7260.0,A,Official figure
2,PP,Producer Prices,50,Bangladesh,5530,Producer Price (LCU/tonne),1253.02,"Onions and shallots, dry (excluding dehydrated)",1993,1993,7021,Annual value,LCU,7870.0,A,Official figure
3,PP,Producer Prices,50,Bangladesh,5530,Producer Price (LCU/tonne),1253.02,"Onions and shallots, dry (excluding dehydrated)",1994,1994,7021,Annual value,LCU,7150.0,A,Official figure
4,PP,Producer Prices,50,Bangladesh,5530,Producer Price (LCU/tonne),1253.02,"Onions and shallots, dry (excluding dehydrated)",1995,1995,7021,Annual value,LCU,5710.0,A,Official figure

In [43]:
# Filters rows where 'Item' contains 'oil', then gets unique values from those rows
pp_raw.loc[pp_raw['Item'].str.contains('oil', case=False, na=False), 'Item'].unique()

array([], dtype=object)

In [44]:
pp_raw['Item'].unique()

array(['Onions and shallots, dry (excluding dehydrated)', 'Rice'],
      dtype=object)

In [45]:
oil_pp_annual_lcu = (
    pp_raw
    .query("Domain == 'PP' and Area == 'Bangladesh' "
           "and Item.str.contains('oil', case=False) and Element == 'Producer Price LCU' and Months == 'Annual value'")
    [["Year", "Item", "Value"]]
    .assign(commodity=lambda d: d["Item"].map(oil_map))
    .rename(columns={"Year": "year", "Value": "oil_producer_price_lcu_ton"})
    .groupby(["year", "commodity"], as_index=False)["oil_producer_price_lcu_ton"].mean()
)
oil_pp_annual_lcu

Empty DataFrame
Columns: [year, commodity, oil_producer_price_lcu_ton]
Index: []

#### C. FAOSTAT Trade (`import-export_data.csv`)

##### Extract Oil Import Data

This cell isolates oil import quantities from international trade records.

Imports capture **external supply inflow**, which can significantly
affect domestic oil prices, especially in import-dependent markets.

In [46]:
tm_raw = pd.read_csv('data/import-export_data.csv')
tm_raw.head()

,Domain Code,Domain,Reporter Country Code (M49),Reporter Countries,Partner Country Code (M49),Partner Countries,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2165,Palm oil,2005,2005,t,870.0,A,Official figure
1,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,1986,1986,t,11793.0,A,Official figure
2,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,1998,1998,t,150811.0,A,Official figure
3,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,2005,2005,t,191050.0,A,Official figure
4,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,2006,2006,t,356171.0,A,Official figure

##### For palm oil imports:

In [47]:
tm_raw["Item"].unique()

array(['Palm oil', 'Soya bean oil', 'Husked rice', 'Rice', 'Rice, broken',
       'Rice, milled', 'Rice, paddy (rice milled equivalent)',
       'Onions and shallots, dry (excluding dehydrated)', 'Bran of rice'],
      dtype=object)

In [48]:
palm_import_fao = (
    tm_raw[
        (tm_raw["Domain Code"] == "TM") &
        (tm_raw["Reporter Countries"] == "Bangladesh") &
        (tm_raw["Item"].str.contains("Palm oil", case=False, na=False)) &
        (tm_raw["Element"] == "Import quantity")
    ][["Year", "Value"]]
    .rename(columns={
        "Year": "year",
        "Value": "palm_import_fao_tons"
    })
    .groupby("year", as_index=False)["palm_import_fao_tons"]
    .sum()
)

palm_import_fao

   year  palm_import_fao_tons
0  1986             173338.00
1  1998             243493.00
2  2005             608232.00
3  2006            1506638.00
4  2007            1728006.00
5  2015            2800316.32

##### For soybean oil imports:

In [49]:
soy_import_fao = (
    tm_raw[
        (tm_raw["Domain Code"] == "TM") &
        (tm_raw["Reporter Countries"] == "Bangladesh") &
        (tm_raw["Item"].str.contains("Palm oil", case=False, na=False)) &
        (tm_raw["Element"] == "Import quantity")
    ][["Year", "Value"]]
    .rename(columns={
        "Year": "year",
        "Value": "soy_import_fao_tons"
    })
    .groupby("year", as_index=False)["soy_import_fao_tons"]
    .sum()
)

soy_import_fao

   year  soy_import_fao_tons
0  1986            173338.00
1  1998            243493.00
2  2005            608232.00
3  2006           1506638.00
4  2007           1728006.00
5  2015           2800316.32

#### D. Bangladesh Agri Statistics (`agri_satat_data_bd.xlsx`)

In [50]:
trade = pd.read_excel(
    "data/agri_satat_data_bd.xlsx",
    sheet_name="Trade Overview",
    header=2
)

trade.head()

             Commodity     Year    Type        Quantity Value ('000 Tk)
0  Rice Medium Quality  2021-22  Export  957,851 M. Ton           92389
1  Rice Medium Quality  2022-23  Export               -               -
2  Rice Medium Quality  2023-24  Export   49,650 M. Ton            6509
3   Onion and Shallots  2021-22  Import  755,883,739 Kg        26712780
4   Onion and Shallots  2022-23  Import  883,551,362 Kg        38262655

In [51]:
trade['Commodity'].unique()

array(['Rice Medium Quality', 'Onion and Shallots', 'Soyabean Oil',
       'Palm Oil Crude', 'Mustard Seeds', 'Sesame Oil', 'Coconut Oil',
       'Groundnut Oil', 'Linseed Oil'], dtype=object)

In [52]:
def fy_to_calendar_year(fy):
    return int(str(fy).split("-")[0])

In [53]:


palm_trade_bdstat = (
    trade
    .query("Commodity == 'Palm Oil Crude' and Type == 'Import'")
    [["Year", "Quantity", "Value ('000 Tk)"]]
    .assign(year=lambda d: d["Year"].apply(fy_to_calendar_year))
    .rename(columns={
        "Quantity": "palm_import_bdstat_kg",
        "Value ('000 Tk)": "palm_trade_bdstat_value_000tk"
    })
)

palm_trade_bdstat = palm_trade_bdstat[
    ["year", "palm_import_bdstat_kg", "palm_trade_bdstat_value_000tk"]
]

palm_trade_bdstat

    year palm_import_bdstat_kg palm_trade_bdstat_value_000tk
9   2021      2,602,783,037 Kg                     283677394
10  2022      3,068,465,580 Kg                     332634139
11  2023      2,966,415,551 Kg                     294346285

In [54]:

soy_trade_bdstat = (
    trade
    .query("Commodity == 'Soyabean Oil' and Type == 'Import'")
    [["Year", "Quantity", "Value ('000 Tk)"]]
    .assign(year=lambda d: d["Year"].apply(fy_to_calendar_year))
    .rename(columns={
        "Quantity": "soy_import_bdstat_kg",
        "Value ('000 Tk)": "soy_import_bdstat_value_000tk"
    })
)
soy_trade_bdstat = soy_trade_bdstat[
    ["year", "soy_import_bdstat_kg", "soy_import_bdstat_value_000tk"]
]
soy_trade_bdstat

   year soy_import_bdstat_kg soy_import_bdstat_value_000tk
6  2021     1,369,191,196 Kg                     169855596
7  2022     1,410,429,766 Kg                     204949590
8  2023     1,133,688,749 Kg                     127338277

In [55]:
mustard_trade_bdstat = (
    trade
    .query("Commodity == 'Mustard Seeds'and Type == 'Import'")
    [["Year", "Quantity", "Value ('000 Tk)"]]
    .assign(year=lambda d: d["Year"].apply(fy_to_calendar_year))
    .rename(columns={
        "Quantity": "musterd_import_bdstat_kg",
        "Value ('000 Tk)": "mustered_import_bdstat_value_000tk"
    })
)
mustard_trade_bdstat = mustard_trade_bdstat[
    ["year", "musterd_import_bdstat_kg", "mustered_import_bdstat_value_000tk"]
]
mustard_trade_bdstat

    year musterd_import_bdstat_kg mustered_import_bdstat_value_000tk
12  2021            36,185,799 Kg                            2377881
13  2022            13,139,423 Kg                            1906806
14  2023            25,512,560 Kg                            2630631

#### E. WFP Food Price Index (`Food-price-index-of-Bangladesh-1998-2024.csv`)

In [56]:
wfp_raw = pd.read_csv(
    "data/Food-price-index-of-Bangladesh-1998-2024.csv",
    comment="#",
    parse_dates=["date"]
)
wfp_raw.columns = (
    wfp_raw.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

wfp_raw.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,1998-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1261.40,27.0182
1,1998-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1055.60,22.6101
2,1998-08-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1288.75,27.3620
3,1998-08-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1060.00,22.5053
4,1998-09-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1415.50,30.0531

In [57]:
wfp_raw['commodity'].unique()

array(['Rice (coarse, BR-8/ 11/, Guti Sharna)', 'Wheat', 'Rice (coarse)',
       'Oil (palm)', 'Lentils (masur)', 'Wheat flour',
       'Rice (medium grain)', 'Rice (coarse, Guti Sharna)',
       'Potatoes (Holland, white)', 'Eggs (brown)', 'Sugar',
       'Chili (green)', 'Gourd (bottle)', 'Papaya (green)',
       'Spinach (malabar)', 'Fish (live, pangasius)',
       'Garlic (imported, China)', 'Onions (imported, China)',
       'Snake gourd', 'Oil (soybean, fortified)',
       'Meat (chicken, broiler)', 'Bananas (ripe)', 'Spinach (red)',
       'Rice (Kajla)', 'Rice (Nurjahan)', 'Eggs (white)',
       'Fish (dry, belt 10-12")', 'Milk (powder)',
       'Chili (whole, dry, Indian Teja)', 'Hyacinth (sim)',
       'Salt (iodized, Molla)', 'Dishwashing liquid', 'Laundry detergent',
       'Toilet paper', 'Toothpaste', 'Chickpeas', 'Bananas (green)',
       'Carrots', 'Eggplants', 'Ginger (imported)', 'Gourd (bitter)',
       'Lemon (medium size)', 'Oranges (malta)', 'Pumpkin',
       'Tomatoes (red)', 'Rice (BRRI-28)', 'Rice (BRRI-29)',
       'Fish (live, tilapia)', 'Meat (beef)', 'Meat (chicken, sonali)',
       'Turmeric (powder, Fresh)', 'Bathing soap', 'Fuel (diesel)',
       'Fuel (kerosene)', 'Handwash soap', 'Oil (mustard)',
       'Apples (royal gala)', 'Cabbage', 'Cucumber (short, khira)',
       'Onions (imported, India)', 'Rice (Gazi)', 'Firewood',
       'Fuel (gas)', 'Sanitary pads', 'Fish (tilapia, fresh)', 'Milk',
       'Beans (mung, large grain)', 'Fuel (petrol)', 'Cauliflower',
       'Ginger (local)'], dtype=object)

In [58]:
oil_wfp_annual = (
    wfp_raw
    .query("commodity.str.contains('Oil', case=False)", engine="python")
    .assign(
        year=lambda d: d["date"].dt.year,
        price_bdt_kg=lambda d: d["price"] 
    )
    .groupby("year", as_index=False)["price_bdt_kg"]
    .mean()
    .rename(columns={"price_bdt_kg": "oil_retail_price_bdt_liter"})
)

oil_wfp_annual.head()

   year  oil_retail_price_bdt_liter
0  2005                   38.800000
1  2006                   43.906250
2  2007                   68.937429
3  2008                   83.024545
4  2009                   60.717400

### 3. Merge Oil Panel


datasets are merged using **Year**
as the common temporal index.

The resulting dataset provides a consolidated view of oil
supply–demand dynamics on an annual basis.

In [59]:
all_years = pd.concat([
    palm_import_fao["year"],
    soy_import_fao["year"],
    palm_trade_bdstat["year"],
    soy_trade_bdstat["year"],
    mustard_trade_bdstat["year"],
    oil_wfp_annual["year"]
]).dropna().astype(int)

dim_time = pd.DataFrame({
    "year": range(all_years.min(), all_years.max() + 1)
})

In [60]:
oil_panel = (
    dim_time
    .merge(palm_import_fao, on='year', how='left')
    .merge(soy_import_fao, on='year', how='left')
    .merge(palm_trade_bdstat, on='year', how='left')
    .merge(soy_trade_bdstat, on='year', how='left')
    .merge(mustard_trade_bdstat, on='year', how='left')
    .merge(oil_wfp_annual, on='year', how='left')
)
oil_panel.head()

,year,palm_import_fao_tons,soy_import_fao_tons,palm_import_bdstat_kg,palm_trade_bdstat_value_000tk,soy_import_bdstat_kg,soy_import_bdstat_value_000tk,musterd_import_bdstat_kg,mustered_import_bdstat_value_000tk,oil_retail_price_bdt_liter
0,1986,173338.0,173338.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
oil_panel.to_clipboard(index=False)

In [62]:
oil_panel.head()

,year,palm_import_fao_tons,soy_import_fao_tons,palm_import_bdstat_kg,palm_trade_bdstat_value_000tk,soy_import_bdstat_kg,soy_import_bdstat_value_000tk,musterd_import_bdstat_kg,mustered_import_bdstat_value_000tk,oil_retail_price_bdt_liter
0,1986,173338.0,173338.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Final Oil Dataset Preparation

The oil dataset is finalized by:
- Ensuring numerical consistency
- Preserving chronological order
- Removing redundant or non-informative columns

The resulting dataset is fully prepared for normalization
and sequence generation in the deep learning stage.

In [63]:
# Save
oil_panel.to_csv('oil_national_annual_panel.csv', index=False)

print("✅ Oil panel with producer prices as primary indicator!")
print(f"Shape: {oil_panel.shape}")
print("\nPreview (last 5 rows):")
print(oil_panel.tail())

✅ Oil panel with producer prices as primary indicator!
Shape: (39, 10)

Preview (last 5 rows):
    year  palm_import_fao_tons  soy_import_fao_tons palm_import_bdstat_kg  \
34  2020                   NaN                  NaN                   NaN
35  2021                   NaN                  NaN      2,602,783,037 Kg
36  2022                   NaN                  NaN      3,068,465,580 Kg
37  2023                   NaN                  NaN      2,966,415,551 Kg
38  2024                   NaN                  NaN                   NaN

   palm_trade_bdstat_value_000tk soy_import_bdstat_kg  \
34                           NaN                  NaN
35                     283677394     1,369,191,196 Kg
36                     332634139     1,410,429,766 Kg
37                     294346285     1,133,688,749 Kg
38                           NaN                  NaN

   soy_import_bdstat_value_000tk musterd_import_bdstat_kg  \
34                           NaN                      NaN
35                     169855596            36,185,799 Kg
36                     204949590            13,139,423 Kg
37                     127338277            25,512,560 Kg
38                           NaN                      NaN

   mustered_import_bdstat_value_000tk  oil_retail_price_bdt_liter
34                                NaN                   79.861545
35                            2377881                  115.267680
36                            1906806                  142.953038
37                            2630631                  128.985592
38                                NaN                  147.618686

## Onion Integration 


This section focuses on integrating and preprocessing data related to
**onion**, a highly price-sensitive essential commodity.

Onion prices are strongly influenced by fluctuations in production
and trade volumes. Therefore, integrating production, import, export,
and price data is crucial for effective time-series forecasting
using deep learning models.

###  1. Define Onion Commodity Mapping
These cells filters onion-related records from raw production, trade,
and price datasets using standardized commodity names or item codes.

Early filtering ensures data relevance and consistency
across all onion-specific variables.

In [64]:
onion_panel_final = pd.DataFrame({
    'year': range(1972, 2025),
    'onion_prod_fao_tons': None,                    # FAO production
    'onion_prod_bdstat_tons': None,                 # Bangladesh production
    'onion_import_fao_tons': None,                  # FAO imports
    'onion_import_bdstat_kg': None,                 # Bangladesh imports (kg)
    'onion_import_bdstat_tons': None,               # Bangladesh imports (tons)
    'onion_import_bdstat_value_000tk': None,        # Import value (000 Taka)
    'onion_producer_price_lcu_ton': None,           # Producer price (BDT/ton) - PRIMARY
    'onion_producer_price_usd_ton': None,           # Producer price (USD/ton)
    'onion_retail_price_bdt_kg_2024': None,         # Retail price (BDT/kg) - ONLY 2024
})

### 2. Extract Onion from Each Source

These step extracts onion production statistics from the FAOSTAT
production dataset.

Production data represents the **domestic supply component** and
is a critical factor influencing onion price behavior over time.

#### A. FAOSTAT Production (`production_data.csv`)

In [65]:
prod_raw = pd.read_csv('data/production_data.csv')
prod_raw.shape

(168, 15)

In [66]:
prod_raw["Item"].unique()

array(['Coconut oil', 'Onions and shallots, dry (excluding dehydrated)',
       'Rice', 'Soya bean oil'], dtype=object)

In [67]:
onion_prod_fao = (
    prod_raw
    .query("Item == 'Onions and shallots, dry (excluding dehydrated)' and Element == 'Production' and Area == 'Bangladesh'")
    [["Year", "Value"]]
    .rename(columns={"Year": "year", "Value": "onion_prod_fao_tons"})
    .sort_values("year")
)
onion_prod_fao.shape

(52, 2)

#### B. FAOSTAT Producer Prices (`producer_prices_data.csv`)

In [68]:
pp_raw = pd.read_csv('data/producer_prices_data.csv')
pp_raw.shape

(421, 16)

In [69]:
pp_raw["Element"].unique()

array(['Producer Price (LCU/tonne)', 'Producer Price (USD/tonne)'],
      dtype=object)

#### Aggregate Onion Production by Year

Onion production values are aggregated at the annual level
to align with the temporal resolution of trade and price datasets.

Annual aggregation improves temporal consistency and
reduces irregular reporting noise.

In [70]:
for col in ["Domain", "Area", "Item", "Element", "Months"]:
    pp_raw[col] = pp_raw[col].astype(str).str.strip()
onion_pp_annual_lcu = (
    pp_raw
    .query(
        "Domain == 'Producer Prices' and "
        "Area == 'Bangladesh' and "
        "Item == 'Onions and shallots, dry (excluding dehydrated)' and "
        "Element == 'Producer Price (LCU/tonne)' and "
        "Months == 'Annual value'"
    )
    [["Year", "Value"]]
    .rename(columns={
        "Year": "year",
        "Value": "onion_producer_price_lcu_ton"
    })
)

onion_pp_annual_usd = (
    pp_raw
    .query(
        "Domain == 'Producer Prices' and "
        "Area == 'Bangladesh' and "
        "Item == 'Onions and shallots, dry (excluding dehydrated)' and "
        "Element == 'Producer Price (USD/tonne)' and "
        "Months == 'Annual value'"
    )
    [["Year", "Value"]]
    .rename(columns={
        "Year": "year",
        "Value": "onion_producer_price_usd_ton"
    })
)

onion_pp_annual = onion_pp_annual_lcu.merge(onion_pp_annual_usd, on="year", how="outer")
onion_pp_annual.head()

   year  onion_producer_price_lcu_ton  onion_producer_price_usd_ton
0  1991                       13020.0                         355.8
1  1992                        7260.0                         186.4
2  1993                        7870.0                         198.9
3  1994                        7150.0                         177.8
4  1995                        5710.0                         141.8

#### C. FAOSTAT Trade (`import-export_data.csv`)
These cells isolates onion import quantities from international
trade datasets.

Imports capture **external supply inflows**, which can stabilize
or disrupt domestic onion prices depending on market conditions.

In [71]:
tm_raw = pd.read_csv('data/import-export_data.csv')
tm_raw.head()

,Domain Code,Domain,Reporter Country Code (M49),Reporter Countries,Partner Country Code (M49),Partner Countries,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2165,Palm oil,2005,2005,t,870.0,A,Official figure
1,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,1986,1986,t,11793.0,A,Official figure
2,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,1998,1998,t,150811.0,A,Official figure
3,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,2005,2005,t,191050.0,A,Official figure
4,TM,Detailed trade matrix,50,Bangladesh,32,Argentina,5610,Import quantity,2161,Soya bean oil,2006,2006,t,356171.0,A,Official figure

In [72]:
tm_raw["Item"].unique()

array(['Palm oil', 'Soya bean oil', 'Husked rice', 'Rice', 'Rice, broken',
       'Rice, milled', 'Rice, paddy (rice milled equivalent)',
       'Onions and shallots, dry (excluding dehydrated)', 'Bran of rice'],
      dtype=object)

In [73]:
onion_import_fao = (
    tm_raw[
        (tm_raw["Domain Code"] == "TM") &
        (tm_raw["Reporter Countries"] == "Bangladesh") &
        (tm_raw["Element"] == "Import quantity")&
        (tm_raw["Item"].str.contains(
            r"Onions and shallots, dry \(excluding dehydrated\)",
            case=False,
            na=False
        ))
    ][["Year", "Value"]]
    .rename(columns={
        "Year": "year",
        "Value": "onion_import_fao_tons"
    })
    .groupby("year", as_index=False)["onion_import_fao_tons"]
    .sum()
)

onion_import_fao

   year  onion_import_fao_tons
0  1986                 369.00
1  1998               46956.00
2  2005               72359.00
3  2006              106975.00
4  2007               96446.00
5  2015              452011.58

#### D. Bangladesh Agri Statistics (`agri_satat_data_bd.xlsx`)

In [74]:
agri = pd.read_excel(
    "data/agri_satat_data_bd.xlsx",
    sheet_name="Full national-level production ",
    header=2
)

agri.head()

,Crop,Type,Year,Area (Acres),Yield (Ton/Acre),Production (Metric Tons)
0,Aus Rice,Local,2021-22,2868,0.39,1118
1,Aus Rice,HYV,2021-22,2730,0.63,1720
2,Aus Rice,Total,2021-22,5598,0.51,2838
3,Aus Rice,Local,2022-23,2859,0.39,1115
4,Aus Rice,HYV,2022-23,2741,0.63,1728

In [75]:
agri["Crop"].unique()

array(['Aus Rice', 'Aman Rice', 'Boro Rice', 'Onion', 'Sesame',
       'Rape and Mustard', 'Groundnut', 'Linseed', 'Soyabean', 'Coconut',
       'Sunflower'], dtype=object)

In [76]:
agri = agri.dropna(how="all")
agri.head()

,Crop,Type,Year,Area (Acres),Yield (Ton/Acre),Production (Metric Tons)
0,Aus Rice,Local,2021-22,2868,0.39,1118
1,Aus Rice,HYV,2021-22,2730,0.63,1720
2,Aus Rice,Total,2021-22,5598,0.51,2838
3,Aus Rice,Local,2022-23,2859,0.39,1115
4,Aus Rice,HYV,2022-23,2741,0.63,1728

In [77]:
agri["Production (Metric Tons)"] = pd.to_numeric(
    agri["Production (Metric Tons)"], errors="coerce"
)

agri["Area (Acres)"] = pd.to_numeric(
    agri["Area (Acres)"], errors="coerce"
)

agri["Yield (Ton/Acre)"] = pd.to_numeric(
    agri["Yield (Ton/Acre)"], errors="coerce"
)

In [78]:
mask = agri["Type"] == "Total"

agri.loc[mask, "Production (Metric Tons)"] = (
    agri.loc[mask, "Area (Acres)"] *
    agri.loc[mask, "Yield (Ton/Acre)"]
).round(0)

In [79]:
agri["year_start"] = agri["Year"].str[:4].astype(int)

In [80]:
agri = agri.assign(
    year_start=agri["Year"].str.split("-").str[0].astype(int)
)

onion_bdstat_nat = (
    agri[
        agri["Crop"].str.contains("Onion", case=False, na=False) &
        (agri["Type"] == "Total")
    ]
    .groupby("year_start", as_index=False)["Production (Metric Tons)"]
    .sum()
    .rename(columns={
        "year_start": "year",
        "Production (Metric Tons)": "onion_prod_bdstat_tons"
    })
    .sort_values("year")
)

onion_bdstat_nat

   year  onion_prod_bdstat_tons
0  2021                    2837
1  2022                    2856
2  2023                    2883

In [81]:
trade = pd.read_excel('data/agri_satat_data_bd.xlsx', sheet_name='Trade Overview', header=2)
trade.head()

             Commodity     Year    Type        Quantity Value ('000 Tk)
0  Rice Medium Quality  2021-22  Export  957,851 M. Ton           92389
1  Rice Medium Quality  2022-23  Export               -               -
2  Rice Medium Quality  2023-24  Export   49,650 M. Ton            6509
3   Onion and Shallots  2021-22  Import  755,883,739 Kg        26712780
4   Onion and Shallots  2022-23  Import  883,551,362 Kg        38262655

In [82]:
trade["Commodity"].unique()

array(['Rice Medium Quality', 'Onion and Shallots', 'Soyabean Oil',
       'Palm Oil Crude', 'Mustard Seeds', 'Sesame Oil', 'Coconut Oil',
       'Groundnut Oil', 'Linseed Oil'], dtype=object)

In [83]:
def fy_to_calendar_year(fy):
    return int(str(fy).split("-")[0])

In [84]:
onion_trade_bdstat = (
    trade
    .query("Commodity == 'Onion and Shallots' and Type == 'Import'")
    [["Year", "Quantity", "Value ('000 Tk)"]]
    .assign(year=lambda d: d["Year"].apply(fy_to_calendar_year))
    .drop(columns="Year")                     
    .loc[:, ["year", "Quantity", "Value ('000 Tk)"]]  
    .rename(columns={
        "Quantity": "onion_import_bdstat_kg",
        "Value ('000 Tk)": "onion_import_bdstat_value_000tk"
    })

)

onion_trade_bdstat["onion_import_bdstat_kg"] = (
    onion_trade_bdstat["onion_import_bdstat_kg"]
    .astype(str)
    .str.replace(",", "", regex=False)     
    .str.replace(" Kg", "", regex=False)   
    .pipe(pd.to_numeric, errors="coerce")
)

onion_trade_bdstat

   year  onion_import_bdstat_kg onion_import_bdstat_value_000tk
3  2021               755883739                        26712780
4  2022               883551362                        38262655
5  2023               765452503                        49559655

#### E. WFP Food Price Index (`Food-price-index-of-Bangladesh-1998-2024.csv`)

In [85]:
wfp_raw = pd.read_csv(
    "data/Food-price-index-of-Bangladesh-1998-2024.csv",
    comment="#",
    parse_dates=["date"]
)
wfp_raw.columns = (
    wfp_raw.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

wfp_raw.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,1998-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1261.40,27.0182
1,1998-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1055.60,22.6101
2,1998-08-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1288.75,27.3620
3,1998-08-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1060.00,22.5053
4,1998-09-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1415.50,30.0531

In [86]:
wfp_raw['pricetype'].unique()

array(['Wholesale', 'Retail'], dtype=object)

In [87]:
wfp_raw.loc[
    wfp_raw["commodity"].str.contains("Onion", case=False, na=False),
    "commodity"
].unique()

array(['Onions (imported, China)', 'Onions (imported, India)'],
      dtype=object)

In [88]:
onion_wfp = (
    wfp_raw
    .loc[wfp_raw["commodity"].str.contains("Onion", case=False, na=False)]
    .copy()
)

onion_wfp["year"] = onion_wfp["date"].dt.year
onion_wfp["price_clean"] = pd.to_numeric(onion_wfp["price"], errors="coerce")

onion_wfp_retail = onion_wfp.query("pricetype.str.contains('Retail', case=False, na=False)", engine='python')

onion_wfp_2024 = (
    onion_wfp_retail
    .groupby("year", as_index=False)["price_clean"]
    .mean()
    .rename(columns={"price_clean": "onion_retail_price_bdt_kg_2024"})
)

onion_wfp_2024

   year  onion_retail_price_bdt_kg_2024
0  2024                      104.614407

### 3. Merge Onion Panel

All onion datasets are merged using **Year**
as the common temporal index.

This consolidated dataset provides a unified view of
onion supply–demand dynamics over time.

Historical onion price data is merged with the consolidated
production and trade dataset.

This step constructs a **multivariate time-series dataset**,
where onion price is treated as the target variable and
production/trade values serve as predictive features.

Missing values may occur due to inconsistent data availability
across years.

To maintain temporal continuity required by LSTM models,
missing values are addressed using forward filling
and interpolation techniques.

In [89]:
onion_panel = (
    dim_time
    .merge(onion_prod_fao, on='year', how='left')
    .merge(onion_bdstat_nat, on='year', how='left')
    .merge(onion_import_fao, on='year', how='left')
    .merge(onion_trade_bdstat, on='year', how='left')
    .merge(onion_pp_annual, on='year', how='left')
    .merge(onion_wfp_2024, on='year', how='left')
)
onion_panel

,year,onion_prod_fao_tons,onion_prod_bdstat_tons,onion_import_fao_tons,onion_import_bdstat_kg,onion_import_bdstat_value_000tk,onion_producer_price_lcu_ton,onion_producer_price_usd_ton,onion_retail_price_bdt_kg_2024
0,1986,136615.0,NaN,369.00,NaN,NaN,NaN,NaN,NaN
1,1987,130125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1988,140545.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1989,138589.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,147845.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1991,143305.0,NaN,NaN,NaN,NaN,13020.0,355.8,NaN
6,1992,144040.0,NaN,NaN,NaN,NaN,7260.0,186.4,NaN
7,1993,139880.0,NaN,NaN,NaN,NaN,7870.0,198.9,NaN
8,1994,144170.0,NaN,NaN,NaN,NaN,7150.0,177.8,NaN
9,1995,144000.0,NaN,NaN,NaN,NaN,5710.0,141.8,NaN
10,1996,138190.0,NaN,NaN,NaN,NaN,6890.0,164.9,NaN
11,1997,141835.0,NaN,NaN,NaN,NaN,7550.0,172.0,NaN
12,1998,138430.0,NaN,46956.00,NaN,NaN,14350.0,305.9,NaN
13,1999,131000.0,NaN,NaN,NaN,NaN,12700.0,258.7,NaN
14,2000,134000.0,NaN,NaN,NaN,NaN,13620.0,261.2,NaN
15,2001,127000.0,NaN,NaN,NaN,NaN,9680.0,173.5,NaN
16,2002,150000.0,NaN,NaN,NaN,NaN,12890.0,222.7,NaN
17,2003,153455.0,NaN,NaN,NaN,NaN,14000.0,240.8,NaN
18,2004,272230.0,NaN,NaN,NaN,NaN,15000.0,252.0,NaN
19,2005,589410.0,NaN,72359.00,NaN,NaN,16000.0,248.7,NaN
20,2006,768655.0,NaN,106975.00,NaN,NaN,16250.0,235.7,NaN
21,2007,894255.0,NaN,96446.00,NaN,NaN,14030.0,203.7,NaN
22,2008,889260.0,NaN,NaN,NaN,NaN,23950.0,349.1,NaN
23,2009,735140.0,NaN,NaN,NaN,NaN,23720.0,343.6,NaN
24,2010,872081.0,NaN,NaN,NaN,NaN,22820.0,327.6,NaN
25,2011,1051523.0,NaN,NaN,NaN,NaN,15540.0,209.6,NaN
26,2012,1159259.0,NaN,NaN,NaN,NaN,28190.0,344.4,NaN
27,2013,1168000.0,NaN,NaN,NaN,NaN,41650.0,533.3,NaN
28,2014,1387000.0,NaN,NaN,NaN,NaN,28870.0,371.8,NaN
29,2015,1704402.0,NaN,452011.58,NaN,NaN,38119.2,489.0,NaN
30,2016,1735334.0,NaN,NaN,NaN,NaN,24510.0,311.6,NaN
31,2017,1866502.0,NaN,NaN,NaN,NaN,21650.0,269.2,NaN
32,2018,1737714.0,NaN,NaN,NaN,NaN,40520.0,485.5,NaN
33,2019,1802868.0,NaN,NaN,NaN,NaN,25420.0,301.0,NaN
34,2020,1953800.0,NaN,NaN,NaN,NaN,66100.0,778.8,NaN
35,2021,2268754.0,2837.0,NaN,755883739.0,26712780,41180.0,484.0,NaN
36,2022,2517070.0,2856.0,NaN,883551362.0,38262655,49165.6,535.9,NaN
37,2023,2546994.0,2883.0,NaN,765452503.0,49559655,47058.7,442.7,NaN
38,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.614407

In [90]:
# Convert kg to tons
onion_panel['onion_import_bdstat_tons'] = onion_panel['onion_import_bdstat_kg'] / 1000

In [91]:
# Final column selection
column_order = [
    'year',
    'onion_prod_fao_tons',
    'onion_prod_bdstat_tons',
    'onion_import_fao_tons',
    'onion_import_bdstat_kg',
    'onion_import_bdstat_tons',
    'onion_import_bdstat_value_000tk',
    'onion_producer_price_lcu_ton',
    'onion_producer_price_usd_ton',
    'onion_retail_price_bdt_kg_2024'
]

onion_panel_final = onion_panel[column_order].copy()
onion_panel_final.shape

(39, 10)

### Final Onion Dataset Preparation

The onion dataset is finalized by:
- Ensuring all variables are numeric
- Preserving chronological order
- Removing redundant or non-informative columns

The resulting dataset is ready for normalization
and sequence generation in the modeling phase.

In [92]:
# Save
onion_panel_final.to_csv('onion_national_annual_panel.csv', index=False)

print("✅ Onion panel with producer prices as primary indicator!")
print(f"Shape: {onion_panel_final.shape}")
print("\nPreview (last 5 rows):")
print(onion_panel_final.tail())

✅ Onion panel with producer prices as primary indicator!
Shape: (39, 10)

Preview (last 5 rows):
    year  onion_prod_fao_tons  onion_prod_bdstat_tons  onion_import_fao_tons  \
34  2020            1953800.0                     NaN                    NaN
35  2021            2268754.0                  2837.0                    NaN
36  2022            2517070.0                  2856.0                    NaN
37  2023            2546994.0                  2883.0                    NaN
38  2024                  NaN                     NaN                    NaN

    onion_import_bdstat_kg  onion_import_bdstat_tons  \
34                     NaN                       NaN
35             755883739.0                755883.739
36             883551362.0                883551.362
37             765452503.0                765452.503
38                     NaN                       NaN

   onion_import_bdstat_value_000tk  onion_producer_price_lcu_ton  \
34                             NaN                       66100.0
35                        26712780                       41180.0
36                        38262655                       49165.6
37                        49559655                       47058.7
38                             NaN                           NaN

    onion_producer_price_usd_ton  onion_retail_price_bdt_kg_2024
34                         778.8                             NaN
35                         484.0                             NaN
36                         535.9                             NaN
37                         442.7                             NaN
38                           NaN                      104.614407

In [93]:
onion_panel = onion_panel.dropna(
    subset=[
        'onion_prod_fao_tons',
        'onion_prod_bdstat_tons',
        'onion_import_fao_tons',
        'onion_import_bdstat_kg',
        'onion_producer_price_lcu_ton',
        'onion_retail_price_bdt_kg_2024'
    ],
    how='all'
)

In [94]:
onion_panel.to_clipboard(index=False)

In [95]:
# Debug: Check FAO trade data availability
onion_import_fao_all = (
    tm_raw
    .query("Domain == 'TM' and `Reporter Countries` == 'Bangladesh'")
    .query("Item.str.contains('onion', case=False) or Item.str.contains('shallot', case=False)", engine='python')
    [["Year", "Item", "Element", "Value"]]
)

print("FAO Onion Trade Data Available:")
print(onion_import_fao_all.groupby(['Year', 'Element'])['Value'].sum().reset_index().tail(10))

FAO Onion Trade Data Available:
Empty DataFrame
Columns: [Year, Element, Value]
Index: []

### Onion Import Dataset Population (Hybrid Source Method)

#### Overview
This section documents the procedure used to construct the **`onion_import_hybrid_tons`** variable in the onion panel dataset.  
The goal is to create a **continuous annual time series** of onion imports (in metric tons) by combining verified anchor values from multiple authoritative sources and interpolating missing years.

This hybrid approach balances **data reliability** and **temporal completeness**, making the dataset suitable for time-series modeling (ARIMA, LSTM, crisis analysis).

In [96]:
# Make sure column exists and is float
import numpy as np

onion_panel['onion_import_hybrid_tons'] = np.nan   


# 1) Anchor years from FAOSTAT / CGIAR / compiled table
onion_panel.loc[onion_panel['year'] == 1998, 'onion_import_hybrid_tons'] = 46956
onion_panel.loc[onion_panel['year'] == 2005, 'onion_import_hybrid_tons'] = 128000   # CGIAR
onion_panel.loc[onion_panel['year'] == 2006, 'onion_import_hybrid_tons'] = 104975   # Avg FAO/CGIAR
onion_panel.loc[onion_panel['year'] == 2007, 'onion_import_hybrid_tons'] = 148000   # CGIAR
onion_panel.loc[onion_panel['year'] == 2015, 'onion_import_hybrid_tons'] = 452012   # FAOSTAT

# 2) 2017–2020 from your summary
onion_panel.loc[onion_panel['year'] == 2017, 'onion_import_hybrid_tons'] = 252631
onion_panel.loc[onion_panel['year'] == 2018, 'onion_import_hybrid_tons'] = 327861
onion_panel.loc[onion_panel['year'] == 2019, 'onion_import_hybrid_tons'] = 341470
onion_panel.loc[onion_panel['year'] == 2020, 'onion_import_hybrid_tons'] = 790313

# 3) 2021–2024 recent values
onion_panel.loc[onion_panel['year'] == 2021, 'onion_import_hybrid_tons'] = 100000
onion_panel.loc[onion_panel['year'] == 2022, 'onion_import_hybrid_tons'] = 727000
onion_panel.loc[onion_panel['year'] == 2023, 'onion_import_hybrid_tons'] = 870000
onion_panel.loc[onion_panel['year'] == 2024, 'onion_import_hybrid_tons'] = 483000

# 4) Interpolate missing years
onion_panel['onion_import_hybrid_tons'] = onion_panel['onion_import_hybrid_tons'].interpolate(
    method='linear', limit_direction='both'
)

In [97]:
print(onion_panel[['year','onion_import_hybrid_tons']].query("year>=1995"))

    year  onion_import_hybrid_tons
9   1995              46956.000000
10  1996              46956.000000
11  1997              46956.000000
12  1998              46956.000000
13  1999              58533.714286
14  2000              70111.428571
15  2001              81689.142857
16  2002              93266.857143
17  2003             104844.571429
18  2004             116422.285714
19  2005             128000.000000
20  2006             104975.000000
21  2007             148000.000000
22  2008             186001.500000
23  2009             224003.000000
24  2010             262004.500000
25  2011             300006.000000
26  2012             338007.500000
27  2013             376009.000000
28  2014             414010.500000
29  2015             452012.000000
30  2016             352321.500000
31  2017             252631.000000
32  2018             327861.000000
33  2019             341470.000000
34  2020             790313.000000
35  2021             100000.000000
36  2022             727000.000000
37  2023             870000.000000
38  2024             483000.000000

In [98]:
import numpy as np

onion_panel['onion_import_hybrid_tons'] = np.nan

# Early anchor: very low imports in 1972
onion_panel.loc[onion_panel['year'] == 1972, 'onion_import_hybrid_tons'] = 5000   # example
# Mid anchor
onion_panel.loc[onion_panel['year'] == 1995, 'onion_import_hybrid_tons'] = 30000
# Known point
onion_panel.loc[onion_panel['year'] == 1998, 'onion_import_hybrid_tons'] = 46956
# Later anchors as before
onion_panel.loc[onion_panel['year'] == 2005, 'onion_import_hybrid_tons'] = 128000
onion_panel.loc[onion_panel['year'] == 2006, 'onion_import_hybrid_tons'] = 104975
onion_panel.loc[onion_panel['year'] == 2007, 'onion_import_hybrid_tons'] = 148000
onion_panel.loc[onion_panel['year'] == 2015, 'onion_import_hybrid_tons'] = 452012
onion_panel.loc[onion_panel['year'] == 2017, 'onion_import_hybrid_tons'] = 252631
onion_panel.loc[onion_panel['year'] == 2018, 'onion_import_hybrid_tons'] = 327861
onion_panel.loc[onion_panel['year'] == 2019, 'onion_import_hybrid_tons'] = 341470
onion_panel.loc[onion_panel['year'] == 2020, 'onion_import_hybrid_tons'] = 790313
onion_panel.loc[onion_panel['year'] == 2021, 'onion_import_hybrid_tons'] = 100000
onion_panel.loc[onion_panel['year'] == 2022, 'onion_import_hybrid_tons'] = 727000
onion_panel.loc[onion_panel['year'] == 2023, 'onion_import_hybrid_tons'] = 870000
onion_panel.loc[onion_panel['year'] == 2024, 'onion_import_hybrid_tons'] = 483000

# Interpolate between anchors, extend only at the ends
onion_panel['onion_import_hybrid_tons'] = onion_panel['onion_import_hybrid_tons'].interpolate(
    method='linear', limit_direction='both'
)

In [99]:
print(onion_panel[['year','onion_import_hybrid_tons']].query("year>=1995"))

    year  onion_import_hybrid_tons
9   1995              30000.000000
10  1996              35652.000000
11  1997              41304.000000
12  1998              46956.000000
13  1999              58533.714286
14  2000              70111.428571
15  2001              81689.142857
16  2002              93266.857143
17  2003             104844.571429
18  2004             116422.285714
19  2005             128000.000000
20  2006             104975.000000
21  2007             148000.000000
22  2008             186001.500000
23  2009             224003.000000
24  2010             262004.500000
25  2011             300006.000000
26  2012             338007.500000
27  2013             376009.000000
28  2014             414010.500000
29  2015             452012.000000
30  2016             352321.500000
31  2017             252631.000000
32  2018             327861.000000
33  2019             341470.000000
34  2020             790313.000000
35  2021             100000.000000
36  2022             727000.000000
37  2023             870000.000000
38  2024             483000.000000

### Final Onion Dataset Preparation

The final onion dataset is cleaned, time-aligned, and structured
for deep learning input.

At this stage:
- All variables are numeric
- Time ordering is preserved
- The dataset is ready for scaling and sequence generation

In [100]:
# Save
onion_panel.to_csv('onion_national_annual_panel.csv', index=False)

print("✅ Onion panel with producer prices as primary indicator!")
print(f"Shape: {onion_panel.shape}")
print("\nPreview (last 5 rows):")
print(onion_panel.tail())

✅ Onion panel with producer prices as primary indicator!
Shape: (39, 11)

Preview (last 5 rows):
    year  onion_prod_fao_tons  onion_prod_bdstat_tons  onion_import_fao_tons  \
34  2020            1953800.0                     NaN                    NaN
35  2021            2268754.0                  2837.0                    NaN
36  2022            2517070.0                  2856.0                    NaN
37  2023            2546994.0                  2883.0                    NaN
38  2024                  NaN                     NaN                    NaN

    onion_import_bdstat_kg onion_import_bdstat_value_000tk  \
34                     NaN                             NaN
35             755883739.0                        26712780
36             883551362.0                        38262655
37             765452503.0                        49559655
38                     NaN                             NaN

    onion_producer_price_lcu_ton  onion_producer_price_usd_ton  \
34                       66100.0                         778.8
35                       41180.0                         484.0
36                       49165.6                         535.9
37                       47058.7                         442.7
38                           NaN                           NaN

    onion_retail_price_bdt_kg_2024  onion_import_bdstat_tons  \
34                             NaN                       NaN
35                             NaN                755883.739
36                             NaN                883551.362
37                             NaN                765452.503
38                      104.614407                       NaN

    onion_import_hybrid_tons
34                  790313.0
35                  100000.0
36                  727000.0
37                  870000.0
38                  483000.0

In [101]:
onion_panel[['year','onion_import_hybrid_tons']]

    year  onion_import_hybrid_tons
0   1986              30000.000000
1   1987              30000.000000
2   1988              30000.000000
3   1989              30000.000000
4   1990              30000.000000
5   1991              30000.000000
6   1992              30000.000000
7   1993              30000.000000
8   1994              30000.000000
9   1995              30000.000000
10  1996              35652.000000
11  1997              41304.000000
12  1998              46956.000000
13  1999              58533.714286
14  2000              70111.428571
15  2001              81689.142857
16  2002              93266.857143
17  2003             104844.571429
18  2004             116422.285714
19  2005             128000.000000
20  2006             104975.000000
21  2007             148000.000000
22  2008             186001.500000
23  2009             224003.000000
24  2010             262004.500000
25  2011             300006.000000
26  2012             338007.500000
27  2013             376009.000000
28  2014             414010.500000
29  2015             452012.000000
30  2016             352321.500000
31  2017             252631.000000
32  2018             327861.000000
33  2019             341470.000000
34  2020             790313.000000
35  2021             100000.000000
36  2022             727000.000000
37  2023             870000.000000
38  2024             483000.000000